body {
  background-image:url("sign up.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  background-color:white;
}

/*Welcome to Elite Cruisers*/
#form-heading{
  font-family:Helvetica; 
  font-size:45px;
  margin-left:100px;
  margin-bottom:35px;
  color: #f8e4e4;
  text-shadow: 2px 2px 4px #000000;
}

/*Sign-Up*/
.form-title{
  font-family:Helvetica; 
  font-size:35px;
  margin-left:35px;
  margin-top:-10px;
}

/*form layout*/
.layout{
  margin-top:20px;
  width:360px;
  height:420px;
  background-color: #5e83c3;
  border-radius:10px;
  border-style:outset;
  padding: 20px 10px;
  box-shadow: 5px 10px 18px grey;
  margin-left:140px;
}

.form-rows{
  margin-top:10px;
  margin-left:40px;
  font-size:13pt;
  padding: 8px 40px;
}

/*Staff first name*/
.staff-name{
  font-size:16px;
  margin-bottom: 10px;
  font-family:Helvetica;
  font-weight: bold;
}

/*Staff last name*/
.staff-lname{
  font-size:16px;
  font-family:Helvetica;
  font-weight: bold;
}

/*Staff username*/
.staff-username{
  font-size:16px;
  font-family:Helvetica;
  font-weight: bold;
  margin-top:10px;
}

/*Staff password*/
.staff-password{
  margin-top:10px;
  font-size:16px;
  font-family:Helvetica;
  font-weight:bold;
}

/*text box*/
input{
  padding:10px 14px;
}

/*Submit button*/
.submit
  {
    margin-top:25px;
    margin-left:20px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size:12pt;
    padding: 8px 40px;
    background-color:#100e0e;
    color:whitesmoke;
  }

/*Submit button when hover*/
  .submit:hover {
    background-color:#232969;
    color: white;
    transform: scale(1.2);
  }

